@model TodoListProject.MvcWebUI.Models.PageModel.SearchListPageModel

@{
    ViewData["Title"] = "Search";
}

<h4>Search</h4>
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
            </div>

            <div class="panel-body">
                @if (Model.TodoItems.Any()) {
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Is Complate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TodoItems) {
                                <tr>
                                    <th scope="row" style="width:90%"><a href="/Home/Detail/@item.Id">@item.Title</a></th>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="@item.IsComplete" disabled/> 
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else {
                    <h4>Result not found.</h4>
                }


            </div>
        </div>


    </div><!-- /.col-lg-6 -->
</div>